---
import lon from '../assets/spin-qubits-screenshot.png';
import dd from '../assets/dd-paper.png';
import pat from '../assets/patent.png';
import quiv from '../assets/quiver-logo.png';
import fam from '../assets/fam-pub.png';
import ink1 from '../assets/ink-drawing-001.jpg';
import goofin from '../assets/goofing-in-taiwan-01.gif';
import skysealand from '../assets/skysealand-screenshot.png';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div>
		<div>
			<div class="grid">
				<div class="card intro">
					<h1>Hi! I'm Ian. 👋</h1>
					<h1>I like building things and creative problem solving.</h1>
					<h1>In my free time, I enjoy drawing, nature, making coffee, and tinkering with side projects.</h1>
				</div>
				<div class="card wide">
					<a href="https://spin-qubits.vercel.app/"><img class="card-image" src={lon.src} alt="Project 1" /></a>
					<div class="card-text">
						<p>Project: Learn About Spin Qubits</p>
					</div>
				</div>
				<div class="card">
					<a href="https://journals.aps.org/prxquantum/abstract/10.1103/PRXQuantum.5.020356"><img class="card-image" src={dd.src} alt="Project 1" /></a>
					<div class="card-text">
						<p>Publication: Full-Permutation Dynamical Decoupling in Triple-Quantum-Dot Spin Qubits</p>
					</div>
				</div>
				<div class="card">
					<img class="card-image" src={ink1.src} alt="ink1" />
					<div class="card-text">
						<p>Ink Drawing</p>
					</div>
				</div>
				<div class="card">
					<img class="card-image" src={goofin.src} alt="goofin" />
					<div class="card-text">
						<p>Goofing around in Taiwan</p>
					</div>
				</div>
				<div class="card">
					<a href="https://github.com/ianparkerjenkins/skysealand-detector"><img class="card-image" src={skysealand.src} alt="Project 2" /></a>
					<div class="card-text">
						<p>Project: Sky-Sea-Land ML Object Detection</p>
					</div>
				</div>

				<div class="card">
					<a href="https://www.youtube.com/watch?v=UwnZsRpyDNs"><img class="card-image" src={quiv.src} alt="Project 1" /></a>
					<div class="card-text">
						<p>Quiver: Quantum Dot Device Control Software</p>
					</div>
				</div>
				<div class="card">
					<a href="https://patents.justia.com/patent/12347180"><img class="card-image" src={pat.src} alt="Project 1" /></a>
					<div class="card-text">
						<p>Patent: System and Method for Pattern Recognition & Graph Extraction</p>
					</div>
				</div>
				<div class="card wide">
					<a href="https://arxiv.org/abs/2110.07020v4"><img class="card-image" src={fam.src} alt="Project 1" /></a>
					<div class="card-text">
						<p>Publication: Solving Families in the Wild Kinship Verification by Program Synthesis</p>
					</div>
				</div>
				<!-- <div class="card">Item 7</div>
				<div class="card">Item 8</div> -->

			</div>

		</div>
	</div>
</Layout>
